#menuRight {
    background-color: rgb(255, 255, 255);
    box-shadow: .5px 1px 10px 1px #888;
    position: absolute;
    padding: 10px;
    top: 40px;
    right: 10px;
    display: none;
}

a.linkHistory {
    text-decoration: none;
}

.linkHistory:hover {
    color: rgb(65, 65, 65);
}

.linkHistory {
    color: black;
}

.iconHistory {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
